VPN_USERNAME=username
VPN_PASSWORD=password
VPN_OTP_SECRET=secret-base32
VPN_CONFIG=user.ovpn
_VPN_CONFIG='
# OpenVPN Config for #viscosity name
dev tun
persist-tun
persist-key
cipher AES-128-CBC
data-ciphers AES-128-CBC
auth SHA256
tls-client
client
resolv-retry infinite
remote vpn.xyz.abc.com 443 udp
verify-x509-name "freeradius-temp-server" name
auth-user-pass
remote-cert-tls server
reneg-sec 0
<ca>
-----BEGIN CERTIFICATE-----
...CA certificate...
-----END CERTIFICATE-----

</ca>
key-direction 1
<tls-auth>
#
# 2048 bit OpenVPN static key
#
-----BEGIN OpenVPN Static key V1-----
...static key...
-----END OpenVPN Static key V1-----

</tls-auth>
<cert>
-----BEGIN CERTIFICATE-----
...certificate...
-----END CERTIFICATE-----

</cert>
<key>
-----BEGIN PRIVATE KEY-----
...private key...
-----END PRIVATE KEY-----

</key>
'